.search-bar {
	background-color: #bbb;
	margin-bottom: 0;
	padding: 20px;
	width: 100%;
}

p {
	color: #fff;
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
}

.btn-group {
	margin-left: 10px;
}

input {
	margin-bottom: 20px;
}

.search-button {
	float: right;
	width: 150px;
}
